absl-py==0.7.1
altgraph==0.16.1
appnope==0.1.0
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
awscli==1.16.111
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
blis==0.2.4
boto==2.49.0
boto3==1.9.210
botocore==1.12.210
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.3.9
cssselect==1.0.3
cycler==0.10.0
cymem==2.0.2
Cython==0.29.12
decorator==4.4.0
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
environment-kernels==1.1.1
flatten-json==0.1.7
funcy==1.13
future==0.17.1
gast==0.2.2
gensim==3.8.0
google-api-core==1.11.1
google-auth==1.6.3
google-auth-oauthlib==0.4.0
google-cloud-bigquery==1.14.0
google-cloud-core==1.0.2
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
grpcio==1.21.1
h5py==2.9.0
html5lib==1.0.1
idna==2.8
imageai==2.0.3
imageio==2.5.0
importlib-metadata==0.19
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.3
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.3.3
macholib==1.11
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
mock==3.0.5
more-itertools==7.2.0
murmurhash==1.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.18
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.2
notebook==6.1.5
npm==0.1.1
numexpr==2.6.9
numpy==1.16.4
oauthlib==3.0.1
opencv-python==4.1.0.25
optional-django==0.1.0
packaging==19.1
pandas==0.24.2
pandas-gbq==0.10.0
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
plac==0.9.6
plotly==4.1.1
pluggy==0.12.0
preshed==2.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.8.0
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycocotools==2.0.0
pydata-google-auth==0.1.3
pyenchant==2.0.0
Pygments==2.4.2
PyInstaller==3.5
pyLDAvis==2.1.2
pyparsing==2.4.0
PyPrind==2.11.2
pyrsistent==0.15.2
pytest==5.1.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.5.1
requests==2.22.0
requests-oauthlib==1.2.0
retrying==1.3.3
rsa==3.4.2
s3transfer==0.2.0
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.12.0
sklearn==0.0
smart-open==1.8.4
soupsieve==1.9.1
spacy==2.1.8
spicy==0.16.0
srsly==0.1.0
tables==3.5.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.0.8
tornado==6.0.2
tqdm==4.35.0
traitlets==4.3.2
urllib3==1.24.1
virtualenv==16.6.0
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
wordcloud==1.5.0
zipp==0.5.2
